<h1>Comments</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Message</th>
      <th scope="col">Status</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each comments}}
    <tr>
      <th>{{_id}}</th>
      {{!-- <td>{{user.firstName}}</td> --}}
      <td>{{body}}</td>
      <td><input data-id="{{_id}}" type="checkbox" {{#if approveComment}} checked {{/if}} name="approveComment"></td>
      <td>{{generateDate date 'LLL'}}</td>
      <td>
          <form action="/admin/comments/{{_id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">DELETE</button>
          </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>